@keyframes ldio-deyiovand2 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-deyiovand2 div > div {
  position: absolute;
  width: 15.76px;
  height: 15.76px;
  border-radius: 50%;
  background: #93dbe9;
  animation: ldio-deyiovand2 1.0204081632653061s linear infinite;
}.ldio-deyiovand2 div:nth-child(1) > div {
  left: 128.5px;
  top: 90.5px;
  animation-delay: -0.8928571428571429s;
}
.ldio-deyiovand2 > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 136.38px 98.38px;
}.ldio-deyiovand2 div:nth-child(2) > div {
  left: 117.5px;
  top: 117.5px;
  animation-delay: -0.7653061224489796s;
}
.ldio-deyiovand2 > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 125.38px 125.38px;
}.ldio-deyiovand2 div:nth-child(3) > div {
  left: 90.5px;
  top: 128.5px;
  animation-delay: -0.6377551020408163s;
}
.ldio-deyiovand2 > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 98.38px 136.38px;
}.ldio-deyiovand2 div:nth-child(4) > div {
  left: 64.5px;
  top: 117.5px;
  animation-delay: -0.5102040816326531s;
}
.ldio-deyiovand2 > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 72.38px 125.38px;
}.ldio-deyiovand2 div:nth-child(5) > div {
  left: 53.5px;
  top: 90.5px;
  animation-delay: -0.3826530612244898s;
}
.ldio-deyiovand2 > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 61.379999999999995px 98.38px;
}.ldio-deyiovand2 div:nth-child(6) > div {
  left: 64.5px;
  top: 64.5px;
  animation-delay: -0.25510204081632654s;
}
.ldio-deyiovand2 > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 72.38px 72.38px;
}.ldio-deyiovand2 div:nth-child(7) > div {
  left: 90.5px;
  top: 53.5px;
  animation-delay: -0.12755102040816327s;
}
.ldio-deyiovand2 > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 98.38px 61.379999999999995px;
}.ldio-deyiovand2 div:nth-child(8) > div {
  left: 117.5px;
  top: 64.5px;
  animation-delay: 0s;
}
.ldio-deyiovand2 > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 125.38px 72.38px;
}
.loadingio-spinner-spin-oukhjngbpd {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-deyiovand2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-deyiovand2 div { box-sizing: content-box; }
